<div class="form-group">
    <%= f.label :strain_id %>
    <%# <%= f.select :strain_id, options_from_collection_for_select(@strains, :id, :name) %>
    <%# <%= f.select :strain_id, options_for_select(@strains_two) %>
    <%= f.collection_select :strain_id, @strains, :id, :name %>
</div>

<div class="form-group">
    <%= f.label :percentage %>
    <%= f.number_field :percentage %>
</div>